*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-7rem); }
  80% {
    opacity: .8;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(7rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 1.875rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.8rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 2.18rem;
    animation: moveInLeft 3s ease-in; }
  .heading-primary--sub {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    animation: moveInRight 3s ease-out; }

.heading-secundary {
  font-size: 2.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .15rem;
  transition: all .3s; }
  .heading-secundary:hover {
    transform: skewY(3deg) skewX(15deg) scale(1.1);
    text-shadow: 0.35rem 0.75rem 1.2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.9rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 5rem; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-top-big {
  margin-top: 5rem; }

.u-margin-top-huge {
  margin-top: 6.25rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .20;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .95rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s ease;
  position: relative; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.7rem 1.25rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(2);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background: #fff;
  color: #777; }
  .btn--white::after {
    background: #fff; }

.btn--green {
  background: #55c57a;
  color: #fff; }
  .btn--green::after {
    background: #55c57a; }

.btn--animated {
  animation: moveInBottom .4s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1rem;
  transition: all .3s; }

.btn-text:hover {
  background: #55c57a;
  color: #fff;
  text-shadow: 0 0.75rem 1.2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  text-shadow: 0 0.35rem 0.6rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 5;
    transition: all .3s;
    outline-offset: 1.25rem; }
    .composition__photo--p1 {
      top: -1.25rem;
      left: 0; }
    .composition__photo--p2 {
      top: 1.25rem;
      right: 0; }
    .composition__photo--p3 {
      top: 6.25rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1rem solid #55c57a;
      transform: scale(1.05) translateY(-0.33rem);
      box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.93rem;
  text-align: center;
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.07); }
  .feature-box__icon {
    font-size: 3.75rem;
    margin-bottom: .33rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }

.form__group:not(:last-child) {
  margin-bottom: 1.25rem; }

.form__input {
  font-family: inherit;
  font-size: 0.9375rem;
  padding: 0.9375rem 1.25rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  color: inherit; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.66rem 1.25rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }

.card {
  position: relative;
  height: 32.5rem; }
  .card__side {
    perspective: 93.75rem;
    -moz-perspective: 93.75rem;
    background: #fff;
    height: 32.5rem;
    border-radius: 3px;
    overflow: hidden;
    transition: all 5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 14.375rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top: 7.5rem;
    right: 1.25rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 0.625rem 0.93rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 1.875rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: .625rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    margin-bottom: 5rem;
    color: #fff; }
  .card__price-only {
    font-size: 1rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 3.75rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 1.9rem 3.75rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 3.75rem;
  padding-left: 5.625rem;
  font-size: 1rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 9.375rem;
    height: 9.375rem;
    float: left;
    background-color: orangered;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1.875rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-2.5rem) scale(1.3);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    color: #fff;
    font-size: 1.08rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-2.5rem) scale(1);
    filter: blur(3px) brightness(70%); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.795), rgba(40, 180, 133, 0.808)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem; }
  .header__logo {
    height: 2.2rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 71.25rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.75rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3.75rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3.75rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3.75rem) / 3) + 3.75rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3.75rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3.75rem)/4) + 3.75rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3.75rem)/4) + 2 * 3.75rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 15.625rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 12.5rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.795), rgba(40, 180, 133, 0.808)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -5rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 15.625rem 0 9.375rem 0;
  margin-top: -5rem; }

.section-stories {
  position: relative;
  padding: 9.75rem 0; }

.section-book {
  padding: 9.75rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  border-radius: 3px;
  background-size: cover;
  height: 31.25rem;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 3.75rem; }
