// COLORS
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-secundary-light:#ffb900;
$color-secundary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-light2:#eee;
$color-white:#fff;
$color-grey-light1:#f7f7f7;
$color-black:#000;

//GRID 
$grid-width:71.25rem;
$gutter-vertical:5rem;
$gutter-vertical-small:3.75rem;
$gutter-horizontal:3.75rem;