
body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color:#777;
    
}

.heading-primary {
    color:#fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3.8rem;
    
        &--main {
            display: block;
            font-size:3.75rem;
            font-weight: 400;
            letter-spacing: 2.18rem;
            animation: moveInLeft 3s ease-in;
            @include responde(phone) {
                letter-spacing: 1.5rem;
                font-size: 3rem;
            }


                }
        &--sub {
        display: block;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 1.1rem;
        animation: moveInRight 3s ease-out;
        @include responde(phone) {
            letter-spacing: .3rem;
            
        }


            }
    }
    .heading-secundary {
        font-size: 2.1875rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        color:transparent;
        letter-spacing: .15rem;
        transition: all .3s;

        @include responde(tab-port){
            font-size: 1.95rem;


        }
        @include responde(phone){
            font-size: 1.7rem;


        }

        &:hover {
            transform: skewY(3deg) skewX(15deg) scale(1.1);
            text-shadow: .35rem .75rem 1.2rem rgba($color-black,.2);
        }

    }
    .heading-tertiary {
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    .paragraph {
        font-size: 1rem;
        &:not(:last-child){
            margin-bottom: 1.9rem;

        }
    }