.section-about {
    background-color: $color-grey-light1;
    padding: 15.625rem 0;
    margin-top: -20vh;
    @include responde(tab-port){
      padding:17rem 0;
     }

}
.section-features {
    padding:12.5rem 0;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.795),
    rgba($color-primary-dark, 0.808)),
    url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top:-5rem;
    & > * {
        transform: skewY(7deg);
    }
    @include responde(tab-port){
        padding:7rem 0;
       }



}
.section-tours {
    background-color: $color-grey-light1;
    padding: 15.625rem 0 9.375rem 0;
    margin-top: -5rem;
    @include responde(tab-port){
        padding:13.625rem 0 7.375rem 0;
       }



}
.section-stories {
position: relative;
padding: 9.75rem 0;
@include responde(tab-port){
    padding:7.2rem 0;
   }


}
.section-book {
    padding: 9.75rem 0;
    background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
    @include responde(tab-port){
        padding:7.2rem 0;
       }
}
.book {
    background-image: linear-gradient(105deg,rgba($color-white,.9)0%,rgba($color-white,.9)50%,transparent 50%),url("../img/nat-10.jpg");
    border-radius: 3px;
    background-size: cover;
    box-shadow: 0 1rem 2.5rem rgba($color-black,.2);

    @include responde(tab-land){
        background-image: linear-gradient(105deg,rgba($color-white,.9)0%,rgba($color-white,.9)70%,transparent 70%),url("../img/nat-10.jpg");
        background-size: cover;
}
    @include responde(tab-port){
        background-image: linear-gradient(to right,rgba($color-white,.9)0%,rgba($color-white,.9)100%),url("../img/nat-10.jpg");
    }

    &__form {
        width: 50%;
        padding: 3.75rem;
        @include responde(tab-land){
            width: 70%;
        }
        @include responde(tab-port){
            width: 100%;
        }
    }
}