.footer {
    background-color: #333;
    padding: 6.25rem 0;
    font-size: .9rem;
    &__logo-box {
        text-align: center;
        margin-bottom: 5rem;

    }
    &__logo {
        width: 9.375rem;
        height: auto;

    }
    &__navigation {
        border-top:1px solid $color-grey-dark-2;
        padding-top: 1.25rem;
        display: inline-block;

    }
    &__list {
        list-style: none;

    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: .95rem;
        }

    }
    &__link {
        &:link,
        &:visited {
            color:$color-grey-light1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .8s;
            background-color: #333;
        }
        &:hover,
        &:active {
            color:$color-primary;
            box-shadow: 0 .8rem 1.6rem rgba(0,0,0,.4);
            transform: rotate(5deg) scale(1.3);
        }

    }
    &__copyright {
        color:$color-grey-light1;
        border-top:1px solid $color-grey-dark-2;
        padding-top: 1.25rem;
        display: inline-block;
        float: right;
    }
}